---
import 'bootstrap/dist/css/bootstrap.css';
import LatesPost from '../../components/LatesPost.astro';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { getAllCategories } from '../../lib/api';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

const categories = await getAllCategories();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="w-100">
			<h1 class="text-primary font-bold">🧑‍🚀 Welcome to categories pages</h1>
            <div class="m-3 w-75 d-flex flex-column">
                <ul>
                    <!-- {
                        categories.map((category: any)) => (
                            <li>{category.name}</li>
                        )
                    } -->
                </ul>
            </div>  
		</main>
		<Footer />
	</body>
</html>
