---
import Layout from '../layouts/BaseLayout.astro';
import Error404Image from '../../public/404/404-x128.png';
import { Image } from 'astro:assets';
---


<Layout title="404 Error" description="Page Not Found">
    <!-- 404 Start -->
    <div class="container-fluid py-5">
        <div class="container py-5 text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <Image src={Error404Image} alt="icon for 404 error" width={150} />
                    <h1 class="mb-4">Page not found</h1>
                    <p class="mb-4">We are sorry, the page you are looking for does not exist on our server! Maybe go to our home page or try using a search?</p>
                    <a class="btn link-hover border border-primary rounded-pill py-3 px-5 font-bold" href="/">Return to home page</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 End -->
</Layout>

