---
import Layout from '../layouts/BaseLayout.astro';
import AboutMeImage from '../../public/background-about.jpg';
import { Image } from 'astro:assets';

const title = "About Me";
const description = "This is the about me page"
---
<style>
	.about__me__title{
		text-transform: uppercase;
		font-weight: bold;
		font-family: monospace;
		font-size: 5rem;
		background: linear-gradient( to bottom, #26820a, #d63131, #f1d710);
		-webkit-background-clip: text;
		color: transparent;
	}

	.about__me__sub__title{
		text-transform: uppercase;
		font-weight: bold;
		font-family: monospace;
		font-size: 3rem;
		background: linear-gradient( 10deg, #26820a, #d63131, #f1d710);
		-webkit-background-clip: text;
		color: transparent;
	}
	.about__me__text{
		color: #333;
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 1.6rem;
	}
	a.about__me__link{
		color: #333;
		padding: 2rem 1.2rem;
	}
	a.about__me__link:hover i{
		color: #26820a;
		transition: color 1.2s ease;
	}
	a.about__me__link i{
		font-size: 2.2rem;
	}
	.about__me__image__block img{
		width: 100%;
		height: 300px;
	}
	.img__comment{
		text-align: center;
		margin: 15px 0;
		font-style: italic;
		font-variant: small-caps;
	}

	@media only screen and (max-width: 992px) {
		.about__me__title{
			font-size: 3rem;
		}
		.about__me__sub__title{
			font-size: 2rem;
		}
		.about__me__image__block img{
			width: 100%;
			height: 260px;
		}
	}
</style>
<Layout title={title} description={description}>
	<div class="container-fluid">
		<div class="d-flex justify-content-center">
			<div class="col-md-8 col-11">
				<div class="text-center py-4">
					<h1 class="about__me__title">Hi, I'm Kevelino</h1>
				</div>
				<div>
					<h2 class="py-4 about__me__sub__title">About Me</h2>
					<p class="about__me__text">
						I'm passionate about technology and programming. From an early age, 
						I've been drawn to the world of computing and have spent a lot of time exploring its many facets.
					</p>
					<div>
						<div class="about__me__image__block">
							<Image src={AboutMeImage} alt={`About me image`} />
							<p class="img__comment">
								This bird is what represents me best
							</p>
						</div>
					</div>
				</div>
				<div>
					<h2 class="py-4 about__me__sub__title">My goal</h2>
					<p class="about__me__text">
						My aim is to contribute to technological progress by developing innovative 
						solutions and sharing my knowledge with the community. I firmly believe that technology 
						can improve our daily lives and solve some of the most pressing challenges facing our society.
					</p>
				</div>
				<div>
					<h2 class="py-4 about__me__sub__title">My skills</h2>
					<p class="about__me__text">
						I've acquired solid expertise in several programming languages, including HTML, CSS, 
						JavaScript, Python and C++. I'm also comfortable with modern web development frameworks 
						and tools such as ReactJS, AstroJS, Django, NodeJS, NextJS and Flask. 
						In addition to my technical skills, I have good problem-solving abilities and can work effectively in a team.
					</p>
				</div>
				<div>
					<h2 class="py-4 about__me__sub__title">My passion & Vision<h2>
					<p class="about__me__text">
						As well as my passion for programming, I'm also a keen follower of 
						lifelong learning and the discovery of new technologies. I'm constantly on the lookout 
						for the latest trends and advances in technology, and I love sharing my discoveries and knowledge with others.
					</p>
					<p class="about__me__text">
						My vision for the future is to help create a world where technology is 
						accessible to all and used responsibly to solve the most pressing problems 
						facing our society. I believe in the importance of education and collaboration 
						in shaping a better and more inclusive future for all.
					</p>
				</div>
				<div class="py-4">
					<h2 class="py-4 about__me__sub__title">Contact me</h2>
					<a href="https://github.com/kevelino" target="_blank" class="about__me__link">
						<i class="bi bi-github"></i>
					</a>
					<a href="https://gitlab.com/kevelino" target="_blank" class="about__me__link">
						<i class="bi bi-gitlab"></i>
					</a>
					<a href="https://www.reddit.com/user/kevelino/" target="_blank" class="about__me__link">
						<i class="bi bi-reddit"></i>
					</a>
					<a href="https://www.linkedin.com/in/kevelino-90396927a/" target="_blank" class="about__me__link">
						<i class="bi bi-linkedin"></i>
					</a>
					<a href="https://trello.com/u/kevelino" target="_blank" class="about__me__link">
						<i class="bi bi-trello"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</Layout>
