---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
import logoImage from '../../public/logo/logo-geeker-green.png';
---

        <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar start -->
        <div class="container-fluid sticky-top px-0">
            <div class="container-fluid bg-light">
                <div class="container px-0">
                    <nav class="navbar navbar-light navbar-expand-xl">
                        <a href="/" class="navbar-brand">
                            <Image src={logoImage}  alt="logo Geekzone" width={50} title="Geekzone's Home"/>
                        </a>
                        <button class="navbar-toggler px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="fa fa-bars text-primary"></span>
                        </button>
                        <div class="collapse navbar-collapse bg-light py-3" id="navbarCollapse">
                            <div class="navbar-nav mx-auto border-top">
								<HeaderLink href="/" class="nav-item nav-link">Home</HeaderLink>
								<HeaderLink href="/blog/1" class="nav-item nav-link" id="blog__Link">Blog</HeaderLink>
								<HeaderLink href="/about" class="nav-item nav-link">About</HeaderLink>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar End -->
